.mezo{
    padding: 5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    margin: auto;
    border: solid 1px black;
}
.mezo button{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}
.kor{
    background-image: url(kepek/O.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.x{
    background-image:url(kepek/iksz.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.rkor{
    background-image: url(kepek/piroso.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.rx{
    background-image:url(kepek/pirosx.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    text-align: center;
}
main{
    text-align: center;

}
#torles{
    margin-top: 15px;
    width: 70px;
    height: 30px;
    
}
.ures{
    background-image: none;
}
.nyeresClass{
    color: red;
}